.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: rgb(40, 31, 53);
  background: linear-gradient(to right, rgb(40, 31, 53), rgb(61, 46, 83));
  color: rgb(249, 240, 240);
}

h1 {
  margin: 0.5em 0 0 0;
  font-size: 3rem;
}

h2 {
  margin-bottom: 1em;
}

.radio {
  max-width: 60em;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
  font-size: 1.2rem;
  width: 100%;
}
.filters span {
  margin: 0.25em;
  border: 1px solid #e36bae;
  border-radius: 10px;
  padding: 0.25em 0.75em;
}
.filters span:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #e36bae, #fb743e);
}
.filters .selected {
  background: linear-gradient(to bottom right, #e36bae, #fb743e);
}

.languages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  font-size: 0.8rem;
  width: 100%;
}
.languages span {
  margin: 0.15em;
  border: 1px solid #6be387;
  border-radius: 10px;
  padding: 0.15em 1em;
}
.languages span:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #6be387, #fb743e);
}
.languages .selected {
  background: linear-gradient(to bottom right, #6be387, #fb743e);
}

.stations {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 100%;
}

.station {
  font-size: 1.2em;
  border: 1px solid rgb(76, 62, 95);
  margin: 0.25em;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.station:hover {
  border-color: #e36bae;
}

.stationName {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.name {
  width: 100%;
  text-align: center;
}

img {
  display: block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 2px solid rgb(76, 62, 95);
  margin: 0 0.25em;
}

audio {
  width: 100%;
}

/* Change styling for player bar */
.rhap_container.player {
  background-color: rgb(76, 62, 95);
  display: flex;
  justify-items: center;
  padding: 0.25em 0.75em;
  border-radius: 10px;
}

/* Center player's controls vertically*/
.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;
}

/* Center volume control */
.rhap_controls-section .rhap_volume-controls {
  justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(235, 235, 235) !important;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: #e36bae !important;
}

@media only screen and (max-width: 600px) {
  .stations {
    grid-template-columns: repeat(2, 50%);
  }
  img {
    display: none;
  }
  .station {
    font-size: 0.8em;
    padding: 0.5em;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .filters {
    margin-bottom: 1.5em;
    font-size: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .stations {
    grid-template-columns: repeat(1, 100%);
  }
  img {
    display: none;
  }
  .station {
    font-size: 0.8em;
    padding: 0.5em;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  .languages {
    margin-bottom: 1em;
    font-size: 0.6rem;
    width: 100%;
  }
  .filters {
    margin-bottom: 1.2em;
    font-size: 0.8rem;
    width: 100%;
  }
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /** background-color: rgba(0, 0, 0, 0.5); */
  z-index: 0;
}

.message {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  padding: 30px;
  background-color: #e9e8e5;
  color: black;
  border-radius: 15px;
  font-size: 20px;
  opacity: 0.9;

  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
}
